html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}
/* for debugging */
* {
  /* outline: 1px solid grey; */
}

/* LAYOUT */
.grid {
  display: grid;
}

/* body */
body {
  padding: 1.5rem;
  position: relative;
}

/* header */
header {
  place-items: center;
}
.skew-deco {
  position: absolute;
  background-color: rgb(146, 177, 195);
  width: 100%;
  height: 40rem;
  transform: translateY(calc(-33rem + 30vw)) skewY(-30deg);
  transform-origin: top left;
  z-index: -2;
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.72);
}
.profile-container {
  position: relative;
}
header picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.5);
}
.name {
  position: absolute;
  justify-self: start;
  bottom: 0.5rem;
  left: 0.5rem;
  color: white;
  font-size: calc(20vw - 1rem);
  font-weight: 500;
}
.about-info {
  padding: 0.5rem;
  margin-top: calc(23vw - 4.5em);
  place-items: start;
  gap: 1rem;
  overflow: hidden;
  border-radius: 0.4rem;
}
.about-info h2 {
  font-size: calc(11vw - 0.5rem);
  font-weight: 400;
}
.about-info p {
  margin-top: 3vw;
  font-size: calc(5vw);
  font-weight: 300;
  line-height: 8vw;
}
.header-logos {
  margin-top: 5vw;
  display: grid;
  width: 100%;
  justify-content: center;
  gap: 3vw;
  grid-auto-flow: column;
}
.header-logos > img {
  width: 10vw;
  height: auto;
}

/* main content */
main {
  margin-top: 10vw;
  padding: 0.5rem;
}
main h3 {
  font-size: calc(11vw - 0.5rem);
  font-weight: 400;
}
.project-list {
  gap: 10vw;
  place-items: center;
  margin-top: 7vw;
}
.project {
  width: 100%;
  height: calc(10rem + 60vw);
  box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
  grid-template-rows: 2fr 1fr;
}
.project > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-info {
  grid-template-rows: 1fr 3fr;
  padding: 1rem;
}
.header-info {
  grid-template-columns: auto 1fr;
  align-items: center;
}
.header-info h4 {
  font-size: 1.4rem;
  font-weight: 500;
}
.project-logos {
  grid-template-columns: 1fr 1fr;
  justify-self: end;
  gap: 3vw;
}
.project-logos > img {
  width: 2rem;
  height: auto;
}
.description {
  align-items: center;
  font-size: calc(3vw + 0.2rem);
  line-height: 5vw;
}

/* footer */
footer {
  margin-top: 15vw;
}
footer img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

/* MEDIA QUERIES */

/* TABLET */
@media (min-width: 500px) {
  body {
    padding: 3rem;
  }
  /* HEADER */
  .skew-deco {
    position: absolute;
    background-color: rgb(146, 177, 195);
    width: 100%;
    height: 40rem;
    transform: translateY(calc(-22rem + 20vw)) skewY(-15deg);
    transform-origin: top left;
    z-index: -2;
    box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.72);
  }
  .profile-container {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 40%;
  }
  .name {
    position: absolute;
    justify-self: start;
    top: 0.5rem;
    left: 90%;
    width: 150%;
    color: white;
    font-size: 7.6vw;
    font-weight: 500;
  }
  .about-info {
    margin-top: calc(10vw - 1.5rem);
    z-index: -1;
    padding: 2rem;
    background-color: white;
    place-items: start;
    gap: 1rem;
    box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.5);
  }
  .float {
    float: left;
    width: calc(42vw - 3rem);
    height: calc(30vw - 2rem);
  }
  .about-info h2 {
    text-align: start;
    font-size: calc(5vw);
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .about-info p {
    font-size: calc(2.8vw);
    font-weight: 300;
    line-height: 3.7vw;
  }
  .header-logos {
    display: none;
  }

  /* MAIN */
  main {
    margin-top: 7vw;
    padding: 0;
  }
  main h3 {
    font-size: calc(5vw);
    font-weight: 400;
  }
  .project-list {
    gap: 3vw;
    row-gap: 7vw;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-top: 4vw;
  }
  .project {
    width: 100%;
    height: calc(60vw);
    box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;
    grid-template-rows: 2fr 3fr;
  }
  .project-info {
    grid-template-rows: 1fr 3fr;
    padding: calc(3vw);
  }
  .header-info {
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .header-info h4 {
    font-size: calc(0.1rem + 3vw);
    font-weight: 500;
  }
  .project-logos {
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    gap: 3vw;
  }
  .project-logos > img {
    width: calc(4vw);
    height: auto;
  }
  .description {
    align-items: center;
    font-size: calc(3vw - 0.2rem);
    line-height: 3vw;
  }
}

/* DESKTOP */
@media (min-width: 1000px) {
  body {
    padding: 5rem;
  }
  /* HEADER */
  .skew-deco {
    position: absolute;
    background-color: rgb(146, 177, 195);
    width: 100%;
    height: 80rem;
    transform: translateY(calc(-46rem + 20vw)) skewY(-9deg);
    transform-origin: top left;
    z-index: -2;
    box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.72);
  }
  .profile-container {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 35%;
  }
  .name {
    position: absolute;
    justify-self: start;
    left: 0;
    top: 85%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: calc(4vw + 0.5rem);
    font-weight: 500;
  }
  .float {
    display: none;
  }
  .about-info {
    position: relative;
    display: grid;
    align-content: center;
    padding: 0 3rem;
    margin-top: calc(1vw - 1rem);
    margin-left: calc(36vw - 3.5rem);
    height: calc(35vw - 3rem);
    place-items: start;
  }
  .about-info h2 {
    font-size: calc(1.8vw + 0.5rem);
    font-weight: 400;
  }
  .about-info p {
    margin-top: -1rem;
    font-size: calc(1.5vw);
    padding-right: 5vw;
    font-weight: 300;
    line-height: 2.5vw;
  }
  .header-logos {
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: grid;
    width: 100%;
    justify-content: end;
    gap: 2vw;
    grid-auto-flow: column;
  }
  .header-logos > img {
    width: 3vw;
    height: auto;
  }

  /* MAIN */
  main {
    margin-top: 7vw;
  }
  main h3 {
    font-size: calc(1.8vw + 0.5rem);
    font-weight: 400;
  }
  .project-list {
    gap: 3vw;
    row-gap: 5vw;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-top: 2vw;
  }
  .project {
    width: 100%;
    height: calc(30vw);
    box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;
    grid-template-rows: 2fr 2fr;
  }
  .project-info {
    grid-template-rows: 1fr 3fr;
    padding: calc(1.5vw);
  }
  .header-info {
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .header-info h4 {
    font-size: calc(1.5vw + 0.2rem);
    font-weight: 500;
  }
  .project-logos {
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    gap: 1.4vw;
  }
  .project-logos > img {
    width: calc(2vw);
    height: auto;
  }
  .description {
    align-items: center;
    font-size: calc(1.1vw + 0.1rem);
    line-height: 1.8vw;
  }
}
